<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>
      <button mat-flat-button color="primary" routerLink="/">
        IOTA JAPAN
      </button>
    </span>
    <span>
      <a href="https://docs.iotajapan.com" target="_blank">
        <button mat-flat-button color="primary">
          <!-- <mat&#45;icon svgIcon="docs" aria&#45;hidden="false"></mat&#45;icon> -->
          DOCS
        </button>
      </a>
    </span>
    <!-- <span> -->
    <!--   <button mat&#45;flat&#45;button color="primary" routerLink="/node&#45;info"> -->
    <!--     <!&#45;&#45; <mat&#38;#45;icon svgIcon="node" aria&#38;#45;hidden="false"></mat&#38;#45;icon> &#45;&#45;> -->
    <!--     NODE -->
    <!--   </button> -->
    <!-- </span> -->
    <!-- <span> -->
    <!--   <button mat&#45;flat&#45;button color="primary" routerLink="/tangle"> -->
    <!--     TANGLE -->
    <!--   </button> -->
    <!-- </span> -->
    <!-- <span> -->
    <!--   <button mat&#45;flat&#45;button color="primary" routerLink="/shimmer"> -->
    <!--     SHIMMER -->
    <!--   </button> -->
    <!-- </span> -->
    <!-- <span> -->
    <!--   <button mat&#45;flat&#45;button color="primary" routerLink="/qubic"> -->
    <!--     QUBIC -->
    <!--   </button> -->
    <!-- </span> -->
    <!-- <span> -->
    <!--   <button mat&#45;flat&#45;button color="primary" routerLink="/troika"> -->
    <!--     TROIKA -->
    <!--   </button> -->
    <!-- </span> -->
    <span class="spacer"></span>
    <a href="https://twitter.com/iotajapan" target="_blank">
      <button mat-flat-button color="primary">
        <mat-icon svgIcon="twitter" aria-hidden="false"></mat-icon>
        <!-- Twitter -->
      </button>
    </a>
    <!-- <a href="https://www.instagram.com/iotajapan"> -->
    <!--   <button mat&#45;flat&#45;button color="primary"> -->
    <!--     <mat&#45;icon svgIcon="instagram" aria&#45;hidden="false"></mat&#45;icon> -->
    <!--     <!&#45;&#45; Instagram &#45;&#45;> -->
    <!--   </button> -->
    <!-- </a> -->
    <!-- <a href="https://www.facebook.com/groups/IOTA.Japan"> -->
    <!--   <button mat&#45;flat&#45;button color="primary"> -->
    <!--     <mat&#45;icon svgIcon="facebook" aria&#45;hidden="false"></mat&#45;icon> -->
    <!--     <!&#45;&#45; facebook &#45;&#45;> -->
    <!--   </button> -->
    <!-- </a> -->
    <a href="https://discord.gg/uYwy4XJ">
      <button mat-flat-button color="primary" target="_blank">
        <mat-icon svgIcon="discord" aria-hidden="false"></mat-icon>
        <!-- discord -->
      </button>
    </a>
    <!-- <a href="https://join.slack.com/t/iotajapan/shared_invite/enQtNjYyOTM5MDgxMzUxLTM2YTc4ODFhZGE4Y2FmNmVjMjVjYmNmNDk3MzIyN2JhYjU1ZDUzZWY5YTM5MzI3Y2VjMmVkNGNmMDQ5NDI2MzE"> -->
    <!--   <button mat&#45;flat&#45;button color="primary"> -->
    <!--     <mat&#45;icon svgIcon="slack" aria&#45;hidden="false"></mat&#45;icon> -->
    <!--     <!&#45;&#45; slack &#45;&#45;> -->
    <!--   </button> -->
    <!-- </a> -->
    <!-- <a href="https://www.meetup.com/ja&#45;JP/IOTA&#45;Japan"> -->
    <!--   <button mat&#45;flat&#45;button color="primary"> -->
    <!--     <mat&#45;icon svgIcon="meetup" aria&#45;hidden="false"></mat&#45;icon> -->
    <!--     <!&#45;&#45; meetup &#45;&#45;> -->
    <!--   </button> -->
    <!-- </a> -->
    <a href="https://iotajapan.connpass.com" target="_blank">
      <button mat-flat-button color="primary">
        <mat-icon svgIcon="compass" aria-hidden="false"></mat-icon>
        <!-- connpass -->
      </button>
    </a>
    <a href="https://github.com/iotajapan" target="_blank">
      <button mat-flat-button color="primary">
        <mat-icon svgIcon="github" aria-hidden="false"></mat-icon>
        <!-- GitHub -->
      </button>
    </a>
  </mat-toolbar-row>
</mat-toolbar>
